// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px;
  background-color: blue;
  width: 150px;
  margin: auto;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  margin: auto;
  width: 50%;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 25px;
}

.form {
  margin: auto;
  width: 50%;
  text-align: center;
}
